@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilas: #5f2c82
    Verde escuro: #1d413f
    Verde claro: #60d5d2
    Verde muito claro: #a1dad8
*/

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
    --escuro: #1d413f;
    --claro: #57d4d0;
    --muitoclaro: #a1dad8;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*a borda faz parte da conta do size*/
}

body, html {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden; /*tudo que tiver fora da borda fica hidden*/
    
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width .3s, height .3s; /*quando muda o tamanho demora um tempo (animação)*/
    transition-timing-function: ease; /*suaviza a animação do transition*/
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: var(--lilas) url(../../images/pexels-declan-17631857.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: var(--lilas);
    border: 2px solid var(--lilas);
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 8px;
    margin: 5px 0px;
}

form label {
    display: none;
}

form > div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

form > div.campo > input {
    background-color: var(--muitoclaro);
    font-size: 1em;
    width: calc(100% - 46px);
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 2px;
    transform: translateY(-12.2px);
}

form > div.campo > input:focus-within { /*Quando estiver digitando nele*/
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 8px;
}

form > input[type=submit]:hover {
    background-color: var(--escuro);
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    border: 2px solid var(--verde);
    border-radius: 8px;
    text-decoration: none;
    color: var(--escuro);
}

form > a.botao:hover {
    background-color: var(--claro);
}

form > a.botao span {
    font-size: 0.8em;
}