@charset "UTF-8";

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
    --escuro: #1d413f;
    --claro: #57d4d0;
    --muitoclaro: #a1dad8;
}

@media screen and (min-width: 700px) and (max-width: 1000px) { /*tablets*/
    
    body, main {
        background-image: linear-gradient(to top, var(--verde), var(--lilas));
    }

    section#login {
        width: 80vw;
        height: 70vh;
    }

    article#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }
    
    article#formulario {
        float: right;
        width: 60%;
        height: 100%;
    }

    article#formulario h1 {
        font-size: 2.7em;
    }

    article#formulario p {
        font-size: 1em;
    }
}

@media screen and (min-width: 1000px) { /*desktop and huge screens*/
    
    body, main {
        background-image: linear-gradient(to top, var(--verde), var(--lilas));
    }

    section#login {
        width: 70vw;
        height: 80vh;
    }

    article#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    article#formulario {
        float: left;
        width: 50%;
        height: 100%;
    }

    article#formulario h1 {
        font-size: 3em;
    }

    article#formulario p {
        font-size: 1.1em;
    }

    form div.campo {
        height: 50px;
    }

    form input#entrar {
        height: 50px;
    }

    form a.botao {
        height: 50px;
        padding-top: 8px;
    }
}