@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilas: #5f2c82
    Verde escuro: #1d413f
    Verde claro: #60d5d2
    Verde muito claro: #a1dad8
*/

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
    --escuro: #1d413f;
    --claro: #57d4d0;
    --muitoclaro: #a1dad8;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, main {
    background-color: var(--lilas);
    width: 100vw;
    height: 100vh;
    position: absolute;
}

section#login {
    width: 60vw;
    height: 90vh;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

article#imagem {
    background: black url(../images/pexels-declan-17631857.jpg);
    background-size: cover;
    width: 100%;
    height: 40%;
}

article#formulario > h1 {
    text-align: center;
    margin: 6px 0px;
}

article#formulario > p {
    font-size: 0.9em;
    text-align: justify;
    padding: 10px;
}