@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilas: #5f2c82
    Verde escuro: #1d413f
    Verde claro: #60d5d2
    Verde muito claro: #a1dad8
*/

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
    --escuro: #1d413f;
    --claro: #57d4d0;
    --muitoclaro: #a1dad8;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, main {
    background-color: var(--lilas);
}

section {
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.401);
    
    width: 250px;
    height: 515px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

article#imagem {
    background-image: url("../images/pexels-declan-17631857.jpg");
    width: 50vw;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px 10px 0px 0px;

    display: inline-block;
}

article#formulario {
    width: 50vw;
}

div.campo {
    background-color: var(--lilas);
    border: 2px solid var(--lilas);
    height: 40px;
    border-radius: 5px;
    margin: 5px;
}

article#formulario h1 {
    text-align: center;
    padding: 10px;
    font-size: 2em;
    font-weight: bolder;
}

article#formulario p {
    margin-bottom: 10px;
    font-size: 0.85em;
    margin: 6px;
    font-weight: lighter;
}

article#formulario form {
    text-align: center;
    
}

article#formulario input {
    width: 30vw;
}

article#formulario input#entrar {
    background-color: var(--verde);
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 45vw;
}

article#formulario input#esqueci {
    padding: 10px;
    border-radius: 5px;
    width: 45vw;
}

article#formulario input#iuser, article#formulario input#isenha {
    
}

label {
    background-image: url();
}